---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container">
                {% include audiovisualspage-heading.html %}
            </div>
        </div>
        <div id="results-container"></div>
        <!--Audiovisuals Section-->
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/xxfuym_KCL0" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/3eKn7zfDPnY" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/5ejeXJI7rUI" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/i6IeBrymPaA" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/Pnbwkx3ZEW4" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/jRNrASe59q0" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/XDmvhFFQaok" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/iKYA7H5dFv4" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/7fb2Em2Wx3s" frameborder="5" allow="accelerometer; autoplay;   encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/X4aktd1UZD0" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/WQA2x2_MDek" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/JHMzk4v3ob0" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
            <center><iframe width="854" height="480" src="https://www.youtube.com/embed/r3Ax4NJUZeE" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center>
    </section>
    <br>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>
